body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('Brown\ 1.jpg.jpeg');
    background-size: cover;
    overflow: hidden;
}



h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 25px;
    text-align: center;
    color: white;
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
    width: 100px;
    height: 80px;
    background: saddlebrown;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;
}

.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: green;
}

.date{
    display: flex;
    position: relative;
    
}

img{
    color: white;
    text-shadow: rgba(0, 0, 0, 1);
}

.date div{
    margin: 1px 0 0 -3px;
    position: relative;
    text-align: center;
    color: whitesmoke;
    padding: 8px;
}

.date span{
    display: flex;
    text-transform: uppercase;
     font-size: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    align-items: center;
    opacity: 0.8;
}